@import '~bootstrap/scss/bootstrap';

$button-colors: rgba(144, 148, 182, 1);
$blanco: #fff;
$backgrounds: rgba(204, 204, 204, 1);
$font-hang: 'Quattrocento', serif;
$nav-color: rgb(136, 80, 83);
$header-color: rgba(213, 87, 59, .8);
$home: rgb(198, 236, 196);

body {
  text-align: center;
  background-color: $backgrounds;
  font-family: $font-hang;
}

header {
  padding: 15px;
  background-color: $header-color;
  // -webkit-text-stroke-width: 2px;
  // -webkit-text-stroke-color: $home;
}

.hang_title {
  text-align: center;
  font-size: 45px;
  color: $blanco;
}

#message {
    font-size: 20px;
    color: $home;
    justify-content: center;
    text-align: center;
    margin: 0;
  }

.addHang {
  margin-top: 25px;
}

.bg-color {
  background-color: $nav-color;
}

.three-buttons {
  padding-top: 7px;
  justify-content: center;
  display:inline-block;
  margin: 15px;
  min-width: 650px;
  min-height: 60px;
  border: 3px solid $nav-color;
  border-radius: 5px;
  background-color: $header-color;
}

.hang-form {
  background-color: $blanco;
  border: 5px solid $nav-color;
  padding: 0 10px 30px 10px;
  margin: 0 150px;
  border-radius: 5px;
}

#home {
  margin: 20px auto;
  width: 50%;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: $home;
}

//  -------- Hang content styling ----
.content {
  max-width:80%;
    max-height:800px;
   margin:2rem auto;
   padding:2rem;
   border-radius:5px;
  text-align: left;
  font-weight: bold;
  left: 10%;
}

.hang_section {
  max-width:100%;
  max-height:800px;
  margin:2rem auto;
  border:10px solid $button-colors;
  padding:2rem;
  border-radius:5px;
  @include make-row;
  text-align: center;
  font-weight: bold;
  background-color: $blanco;
  color: $nav-color;
  left: 10%;
}

.hang-content {
  justify-content: center;
}

.title, .date {
  justify-content: center;
}

.title {
  font-size: 25px;
}

//  ------- Button stuff ---
// .btn-hang {
//   background-color: $button-colors;
// }

// .btn-hang:hover {
//   color: $blanco;
// }

.btn-sign-out {
  background-color: $button-colors;
  position: absolute;
  top: 0px;
  right: 50px;
}

.btn-sign-out:hover {
  color: $blanco;
}

.dropdown-toggle {
  background-color: $button-colors;
}

.btn-sign {
    background-color: $button-colors;
    color: $blanco;
    margin-left: 10px;
    margin-right: 10px;
}

.btn-upcoming {
  background-color: $button-colors;
  color: $blanco;
  margin: 10px auto;
}

.btn-sign:hover {
  color: $blanco;
}

.form-background {
  background-color: $header-color;
}
